*
!.gitignore

# files that get checked in
!autoconfig.cfg
!config.cfg
!controls.cfg
!crosshair.cfg
!crosshair1.cfg
!crosshair2.cfg
!practice.cfg
!buybinds.cfg
!viewmodel.cfg
!settings.cfg
!sound.cfg
!net.cfg
!chicken.cfg
